:root {
    --color-block: rgba(212, 196, 238, 0.38);
    --color-block-border: rgba(135, 111, 178, 0.66);
    --color-outor-block-border: #AAB2BD;
    --color-text: #464d57;
    --color-disabled-text: #777777;
    --color-disabled-button: rgba(237, 233, 250, 0.5);
    --color-disabled-border: rgba(166, 130, 227, 0.27);
    --color-hover: rgba(213, 190, 241, 0.5);
    --width-inner-block: 150px;
    --width-block: 170px;
    --height-task: 25px;
    --font: "Roboto", 'Arial', sans-serif;
}

/*Cтили из normalize и общие для нормализации*/
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    color: var(--color-text);
    font-family: var(--font);
}

h2,
h3,
h4,
p,
button,
select {
    margin: 0;
    padding: 0;
}

button,
select {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/*Стили для текста и кнопок*/
.text_p {
    font-size: 16px;
    font-weight: normal;
    font-variation-settings: "wdth" 100;
    line-height: 1.2;
}

.text_h4 {
    font-size: 14px;
    font-weight: normal;
    font-variation-settings: "wdth" 75;
    line-height: 1.2;
    text-align: center;
}

.text_h3 {
    font-size: 16px;
    font-weight: normal;
    font-variation-settings: "wdth" 90;
    line-height: 1.1;
    text-align: center;
}

.text_h2 {
    font-size: 18px;
    font-weight: normal;
    font-variation-settings: "wdth" 90;
    line-height: 1.1;
}

.button {
    padding: 6px 12px;
    border-radius: 3px;
    background-color: var(--color-block);
    border: 1px solid var(--color-block-border)
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-hover);
}

.button.disabled {
    color: var(--color-disabled-text);
    background-color: var(--color-disabled-button);
    border: 1px solid var(--color-disabled-border);
    cursor: default;
}

/*Основной layout*/
.area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    margin: 10px auto;
    width: 800px;
    height: 800px;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

.header {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main {
    width: 100%;
    height: 82%;
}

.footer {
    width: 100%;
    height: 14%;
}

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    height: 100%;
}

.main_block {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.outer_block {
    border: 1px solid var(--color-outor-block-border);
    border-radius: 3px;
    padding: 10px;
}

.block {
    border-radius: 3px;
    background: var(--color-disabled-button);
    padding: 5px 5px 10px;
    border: 1px solid var(--color-block-border);
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    width: var(--width-block);
}

.inner_block {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    width: var(--width-inner-block);
    background: var(--color-block);
}

.os {
    width: 190px;
}

.process_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.event_loop_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid var(--color-outor-block-border);
    border-radius: 3px;
    padding: 10px 7px;
}

.loop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.thread_block {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.thread_block > div {
    width: 8px;
    height: var(--height-task);
}

.queue_block {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.queue_section {
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--color-block-border);
    height: 48px;
}

.runner_section {
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.queue_section > div,
.runner_section > div {
    height: var(--height-task);
}

.runner_block {
    height: 60px;
}

.ready_block {
    height: 240px;
}

.os_block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.sockets_block {
    height: 480px;
}

.finished {
    width: 100%;
}

.finished_block {
    width: 100%;
    height: 60px;
}

.footer .main_block {
    gap: 5px;
}

.footer .text_h3 {
    text-align: start;
}

/*Стили для цветов и иммитации задач*/
.red {
    background-color: #E9573F;
}
.blue {
    background-color: #4A89DC;
}
.green {
    background-color: #37BC9B;
}
.yellow {
    background-color: #F6BB42;
}
.cyan {
    background-color: #3BAFDA;
}
.violet {
    background-color: #967ADC;
}
.pink {
    background-color: #D770AD;
}
.grass {
    background-color:  #8CC152;
}
.brown {
    background-color: #DA4453;
}
.purple {
    background-color: #7e45d3;
}
.wait {
    background-color: rgba(126, 126, 126, 0.87);
}